@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

// Colors
$body: #212529;
$main-color: #009688;

.main-logo{
    width: 70%;
    align-items: center;
    justify-content: center;
}

body{
    font-family: 'Rubik', sans-serif;
    background-color: $body;
}

//Landing Section

.nav{
    background-color: $body;
}

.text-main{
    color: $main-color;
}

.landing-column{
    text-align: center;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    justify-content: center;
}

.landing-programmer{
    width: 50%;
    margin-top: 3rem;
}

.loading{
    display: none;
}

.main-heading{
    font-size: 1.6rem;
    padding: 0;
}

.first-heading{
    font-size: 1rem;
    padding-top: 2rem;
}

.second-heading{
    color: #6C757D;
    font-size: .8rem;
}

// Buttons

.btn{
    color: white;
    font-size: 1rem;
}

.btn-get-to-know{
    background-color: $main-color;
    opacity: 80%;
    padding: 1rem 6.6rem;
}

.btn-reach-me-out{
    background-color: transparent;
    border: 1px solid $main-color;
    color: $main-color;
    margin-top: 1rem;
    padding: 1rem 7rem;
}


.btn-get-to-know:hover{
    opacity: 1;
    transition: 0.4s;
    color: white;
}

.btn-reach-me-out:hover{
    background-color: $main-color;
    transition: 0.4s;
    color: white;
}