
/* Add application styles & imports to this file! */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  color: white;
  padding: 0;
  margin: 0;
}

/* rgb(34,139,34) */

.main {
    background: url('../../../assets/coding-background.png');
    opacity: 0.9;
  }
  
  .logo{
    color: white;
    cursor: pointer;
  }
  
  .content {
    padding: 18.35rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .top-navigation {
    padding: 2.4rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .logo {
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  
  .white-arrow-down{
    width: 2%;
    cursor: pointer;
    transform: rotate(180deg)
  }
  
  .hero-title{
    font-size: 5rem;
    border: 0.3rem solid rgb(34, 139, 34);
    padding: 1rem;
    margin: 0;
  }
  
  .paragraph{
    font-size: 1.3rem;
  }
  
  /* 1366x 768 */
  @media only screen and (max-width: 1366px) {
    .content{
      padding: 8.95rem 2rem;
    }
    .hero-title{
      text-align: center;
    }
  }
  
  
  @media only screen and (max-width: 790px) {
    .content {
      padding: 6rem;
    }
  }
  
  /* Galaxy s20 ultra */
  @media only screen and (max-width: 412px) {
    .logo {
      padding-top: 1rem;
    }
    .hero-title{
      font-size: 3rem;
    }
  
    .paragraph{
      padding-top: 1.5rem;
      text-align: center;
    }
  
    .white-arrow-down{
      width: 10%;
    }
  }
  