@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

$desktop: 1024px;
$md-desktop: 1366px;

@mixin desktop {
    @media(min-width: #{$desktop}){
        @content;
    }
}

@mixin md-desktop {
    @media(min-width: #{$md-desktop}){
        @content;
    }
}

// Colors
$body: #212529;
$main-color: #009688;

.main-logo{
    width: 70%;
    align-items: center;
    justify-content: center;
}

body{
    font-family: 'Rubik', sans-serif;
    background-color: $body;
}

//Landing Section

.nav{
    background-color: $body;
}

.text-main{
    color: $main-color;
}

.landing-column{
    text-align: center;
    color: white;
    margin-top: 1rem;
    margin-bottom: auto;
    align-items: center;
    justify-content: center;
    
    @include desktop{
        display: flex;
        margin-top: 7rem;
        justify-content: space-between;
    }

    @include md-desktop{
        margin-top: 6rem;
    }
}

.right{
    @include desktop{
        text-align: right;
        padding-right: 2rem;
    }
}

.landing-programmer-small{
    width: 80%;

    @include desktop{
        width: 200%;
    }

    @include md-desktop{
        width: 180%;
    }
}

.loading{
    display: none;

    @include desktop{
        display: block;
       align-items: center;
    }
}

.main-heading{
    font-size: 1.6rem;
    padding: 0;

    @include desktop{
        font-size: 3rem;
        max-width: 70%;
        margin-left: auto;

    }

    @include md-desktop{
        font-size: 2.5rem;
        max-width: 70%
    }
}

.first-heading{
    font-size: 1rem;
    padding-top: 2rem;
    color: whitesmoke;
    opacity: 80%;
    
}

.second-heading{
    color: #6C757D;
    font-size: .8rem;
}

// Buttons

.button-flex{
    @include desktop{
        display: flex;
        justify-content: space-between;
        margin-top: 1.5rem;
    }
}

.btn{
    color: white;
    font-size: 1rem;
    width: 100%;
    height: 4rem;

    @include desktop{
        width: 20%;
        font-size: 1rem;
    }

    @include md-desktop{
        height: 3.5rem;
    }
}

.btn-get-to-know{
    background-color: $main-color;
    opacity: 80%;

    @include desktop{
        margin-left: auto;
        margin-right: 1rem;
    }
}

.btn-reach-me-out{
    background-color: transparent;
    border: 1px solid $main-color;
    color: $main-color;
    margin-top: 1rem;
    // padding: 1rem 7rem;
    @include desktop{
        margin-top: 0;

    }
}


.btn-get-to-know:hover{
    opacity: 1;
    transition: 0.4s;
    color: white;
}

.btn-reach-me-out:hover{
    background-color: $main-color;
    transition: 0.4s;
    color: white;
}

.loading-svg{
    @include desktop{
        animation: move 1s infinite alternate;
    }
}

@keyframes move{
    0% {
        transform: translateY(0px) ;
}

    100%{
        transform: translateY(20px) ;
    }
}