@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@media (min-width: 1920px) {
  .container {
    max-width: 1500px;
  }
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

.main-logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #212529;
}

.nav {
  background-color: #212529;
}

.text-main {
  color: #009688;
}

.landing-column {
  text-align: center;
  color: white;
  margin-top: 1rem;
  margin-bottom: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1024px) {
  .landing-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 7rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1366px) {
  .landing-column {
    margin-top: 6rem;
  }
}

@media (min-width: 1920px) {
  .landing-column {
    margin-top: 11rem;
  }
}

@media (min-width: 1024px) {
  .right {
    text-align: right;
    padding-right: 2rem;
  }
}

.landing-programmer-small {
  width: 80%;
}

@media (min-width: 1024px) {
  .landing-programmer-small {
    width: 200%;
  }
}

@media (min-width: 1366px) {
  .landing-programmer-small {
    width: 180%;
  }
}

@media (min-width: 1920px) {
  .landing-programmer-small {
    width: 220%;
  }
}

.loading {
  display: none;
}

@media (min-width: 1024px) {
  .loading {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-heading {
  font-size: 1.6rem;
  padding: 0;
}

@media (min-width: 1024px) {
  .main-heading {
    font-size: 3rem;
    max-width: 70%;
    margin-left: auto;
  }
}

@media (min-width: 1366px) {
  .main-heading {
    font-size: 2.5rem;
    max-width: 70%;
  }
}

@media (min-width: 1920px) {
  .main-heading {
    font-size: 3.5rem;
    max-width: 75%;
  }
}

.first-heading {
  font-size: 1rem;
  padding-top: 2rem;
  color: whitesmoke;
  opacity: 80%;
}

@media (min-width: 1920px) {
  .first-heading {
    font-size: 1.5rem;
  }
}

.second-heading {
  color: #6C757D;
  font-size: .8rem;
}

@media (min-width: 1024px) {
  .button-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 1.5rem;
  }
}

.btn {
  color: white;
  font-size: 1rem;
  width: 100%;
  height: 4rem;
}

@media (min-width: 1024px) {
  .btn {
    width: 20%;
    font-size: 1rem;
  }
}

@media (min-width: 1366px) {
  .btn {
    height: 3.5rem;
  }
}

.btn-get-to-know {
  background-color: #009688;
  opacity: 80%;
}

@media (min-width: 1024px) {
  .btn-get-to-know {
    margin-left: auto;
    margin-right: 1rem;
  }
}

.btn-reach-me-out {
  background-color: transparent;
  border: 1px solid #009688;
  color: #009688;
  margin-top: 1rem;
}

@media (min-width: 1024px) {
  .btn-reach-me-out {
    margin-top: 0;
  }
}

.btn-get-to-know:hover {
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: white;
}

.btn-reach-me-out:hover {
  background-color: #009688;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: white;
}

@media (min-width: 1024px) {
  .loading-svg {
    -webkit-animation: move 1s infinite alternate;
            animation: move 1s infinite alternate;
  }
}

@media (min-width: 1920px) {
  .loading-svg {
    width: 2;
  }
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

#get-to-know-me {
  margin-top: 10rem;
  text-align: center;
}

@media (min-width: 1024px) {
  #get-to-know-me {
    padding-top: 5rem;
    padding-bottom: 10rem;
  }
}

@media (min-width: 1024px) {
  .main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a b";
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 1024px) {
  .left {
    grid-area: a;
    text-align: left;
  }
}

@media (min-width: 1366px) {
  .left {
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .right {
    grid-area: b;
  }
}

@media (min-width: 1366px) {
  .right {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.my-name {
  color: #009688;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

@media (min-width: 1366px) {
  .my-name {
    font-size: 2.5rem;
  }
}

.profile-heading {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.profile-body {
  font-size: .9rem;
  line-height: 2.5rem;
}

@media (min-width: 1024px) {
  .profile-body {
    width: 90%;
    margin-right: auto;
  }
}

@media (min-width: 1366px) {
  .profile-body {
    line-height: 3.5rem;
    width: 90%;
  }
}

.profile-pic {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */